@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');



body{
    background-image: url(image/back.jpeg) ;
    background-size: cover;
    background-position: center;
}

/* Gaya dasar untuk link-box */
.link-box {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: none;
    border: 3px solid white;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none; /* Menghapus garis bawah pada tautan */
    color: white; /* Warna teks */
    font-family: "Inter", sans-serif;
    
}

/* Gaya saat tautan diklik */
.link-box:hover {
    background-color: white;
    color: black;
}



/* Gaya untuk judul halaman */
.page-title {
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top: 100px;
}

/* Gaya untuk subjudul halaman */
.subpage {
    color: white;
    font-size: medium;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

/* Gaya untuk footer */
.endpage {
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

    
